@import url("http://fonts.cdnfonts.com/css/good-times-2");

.header {
  font-family: "Good Times Rg", sans-serif;
  /* background-color: #fdb813; */
  background: #f7971e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd200,
    #f7971e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 50px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.header-text {
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 60px;
}

.header h2 {
  font-size: 40px;
}

.header-img {
  height: 70px;
  margin: 20px auto 0 auto;
  display: block;
}
